.about {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    background-color: bisque;
    margin: 100px auto;
    
}
.about__image img {
    display:block;
    transition: opacity 0.1s linear;
    width: 350px;
    height: 350px;
    

  }
  

.about__item {
    width: 350px;
    height: 350px;
    background-color: blueviolet;
    position: relative;

    
  }

  .about__text {
    position:absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    opacity: 0;
  }
  .about__image {
    background-image: linear-gradient(red, yellow);
    
    transition: transform 0.2s linear;
    
  }

.about__item:hover .about__image {
    transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__image img {
    opacity: 0.1;
}

.about__item:hover .about__text {
    opacity: 1;
}

  